@import "../variables";

.Messages {
  height: calc(100vh - 111px);
  overflow-y: scroll;
  padding: 5px 0px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../assets/chat-background.jpg");
    background-size: cover;
    z-index: -1;
    filter: brightness(40%);
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: transparent;
  }
}

.IntroTextContainer {
  padding: 2px 12px;
  border-radius: 20px;
  background-color: #2f343b;
}

.IntroText {
  color: $main-lightblue;
}