@import "../variables";
@import "../mixins";

.MessageContainer {
  max-width: 70%;
  color: #fff;
  padding: 3px 5px 3px 15px;
  margin: 1px 0px;
  position: relative;

  .MessageTime {
    height: min-content;
    margin: 0px 10px 0px 15px;
    font-size: 12px;
    align-self: end;
  }
  &.current {
    border-radius: 12px 12px 0px 12px;
    right: 2%;
    &::before {
      @include message-curve(current)
    }
  }
  &.other {
    border-radius: 15px 15px 15px 0px;
    left: 2%;
    &::before {
      content: "";
      @include message-curve(other)
    }
  }
}

.ImageContainer {
  max-width: 80%;
  position: relative;
  margin: 1px 0px;
  background-color: $dark-mode-background-color;

  &.WithoutCaption {
    border-radius: 15px;
    &.current {
      right: 2%;
    }
    &.other {
      left: 2%;
    }
    .MessageTime {
      height: min-content;
      position: absolute;
      right: 4px;
      bottom: 4px;
      padding: 1px 10px;
      font-size: 12px;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 20px;
    }
  }

  &.WithCaption {
    &.current {
      border-radius: 15px 15px 0px 15px;
      right: 2%;
      &::before {
        @include message-curve(current)
      }
    }
    &.other {
      border-radius: 15px 15px 15px 0px;
      left: 2%;
      &::before {
        @include message-curve(other)
      }
    }
    .MessageImage {
      border-radius: 15px 15px 0px 0px;
    }
    .MessageTextContainer {
      padding: 3px 5px 3px 15px;
    }
    .MessageTime {
      height: min-content;
      padding: 1px 10px;
      font-size: 12px;
      border-radius: 20px;
      align-self: end;
    }
  }
}

.MessageTime {
  user-select: none;
}

.Message {
  margin: 3px 0px;
  overflow-wrap: anywhere;
  max-width: 400px;
  font-size: 16px;
  font-weight: 500;
}

.MessageImage {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}
