@import "../variables";
@import "../mixins";

.InputContainer {
  height: 54px;
  padding: 0px 8px 8px;
  position: relative;
}

.InputElementsWrapper {
  width: 100%;
  height: 100%;
}

.Input {
  height: 100%;
  padding: 8px 16px;
  border: none;
  border-radius: 15px 0px 0px 15px;
  font-weight: 400;

  &::placeholder {
    font-weight: 400;
  }

  &:focus {
    box-shadow: none;
  }
}

.InputButtonsContainer {
  height: 100%;
  width: 55px;
  padding: 0px 10px;
  background-color: $dark-mode-background-color;
  &.EmojiContainer {
    border-radius: 15px 0px 0px 15px
  }
  &.AttachContainer {
    border-radius: 0px 15px 0px 0px;
    position: relative;

    &::before {
      @include message-curve(current)
    }
  }
}

.AttachButton {
  @include input-button;
  transition: none !important;
}

.SendButton {
  min-width: 46px;
  height: 46px;
  background-color: #3390ec;;
  border-radius: 50%;
  margin-left: 8px;
}

.AttachIcon {
  width: 26px;
}

.SendIcon {
  width: 26px;
}
