@import "../variables";
@import "../mixins";

.InputContainer {
  min-height: 55px;
  position: relative;
  margin: 0px 0px 20px;
}

.InputElementsWrapper {
  width: 55%;
  height: 100%;
}

.Input {
  height: 100%;
  padding: 8px 16px 8px 0px;
  border: none;
  border-radius: 0;
  font-weight: 400;

  &::placeholder {
    font-weight: 400;
  }

  &:focus {
    box-shadow: none;
  }
}

.InputButtonsContainer {
  height: 100%;
  width: 55px;
  padding: 0px 10px;
  background-color: $dark-mode-background-color;
  &.EmojiContainer {
    border-radius: 15px 0px 0px 15px
  }
  &.AttachContainer {
    border-radius: 0px 15px 0px 0px;
    position: relative;

    &::before {
      content: "";
      background-color: transparent;
      position: absolute;
      right: -20px;
      bottom: 0px;
      height: 10px;
      width: 20px;
      border-radius: 0px 0px 0px 15px;
      box-shadow: -10px 0px 0px;
      transition: color .2s ease-in-out;
    }
  }
  &.SendContainer {
    border-radius: 50%;
    margin-left: 8px;
  }
}

.AttachButton {
  @include input-button;
  transition: none !important;
}

.SendButton {
  @include input-button;
}

.AttachIcon {
  width: 26px;
}

.SendIcon {
  width: 35px;
}
