@mixin input-button($button) {
  width: 55px;
  height: 100%;
  cursor: pointer;
  background-color: $secondary-background-color;
  border: none;
  @if $button == attach {
    border-left: 1px solid #242a2f;
  }
}