@mixin input-button($button) {
  max-width: min-content;
  max-height: min-content;
  cursor: pointer;
  background-color: $secondary-background-color;
  border: none;
  @if $button == attach {
    border-left: 1px solid #242a2f;
  }
}
