.SidebarSettingsUserInfo {
  max-height: 240px;
  position: relative;
}

.SidebarSettingsDisplayName {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 20px;
  font-weight: 500;
}

.LogoutButtonContainer {
  padding: 5px 0px;
  position: absolute;
  z-index: 1;
  transition: visibility 0.2s linear;

  &.closed {
    width: 40%;
    top: 100%;
    right: 20px;
    background-color: #4a494a;
    border-radius: 10px;
    transform-origin: top right;
    visibility: hidden;
  }
  &.opened {
    width: 40%;
    top: 100%;
    right: 20px;
    visibility: visible;
    background-color: #4a494a;
    border-radius: 10px;
    transform-origin: top right;
  }
}

.LogoutButton {
  width: 100%;
  padding: 4px 12px;
  margin: 0px 5px;
  border: none;
  border-radius: 0.3125rem;
  background-color: transparent;
  transition: none;
  p {
    color: #cd6667;
    font-size: 14px;
    font-weight: 600;
  }
  &:hover {
    background-color: #575757;
  }
}

.UploadImageButton {
  padding: 10px 16px;
  border-radius: 0;
  border: none;
  transition: none;
  p {
    color: #fff;
  }
}

.LogoutIcon,
.UploadIcon {
  width: 20px;
  margin-right: 12px;
}

.SidebarHeader {
  height: 56px;
  padding: 7px 16px;
}