.SidebarSettingsUserInfo {
  max-height: 240px;
  position: relative;
}

.SidebarSettingsDisplayName {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 20px;
  font-weight: 500;
}

.LogoutButton {
  width: 100%;
  padding: 4px 12px;
  margin: 0px 5px;
  border: none;
  border-radius: 0.3125rem;
  background-color: transparent;
  transition: none;
  p {
    color: #cd6667;
    font-size: 14px;
    font-weight: 600;
  }
  &:hover {
    background-color: #575757;
  }
}

.UploadImageButton {
  padding: 10px 16px;
  border-radius: 0;
  border: none;
  transition: none;
  p {
    color: #fff;
  }
}

.LogoutIcon,
.UploadIcon {
  width: 20px;
  margin-right: 12px;
}

.UserAvatarContainer {
  cursor: pointer;
  height: 100%;
  width: 100%;
  position: relative;

  .UserAvatar {
    min-width: 100%;
    max-width: 54px;
    height: 240px;
    border-radius: 0;
    object-fit: cover;
  }
}

.ImagePicker {
  display: none;
}

.ChangeAvatarButton {
  position: absolute;
  right: 20px;
  bottom: calc(0% - 27px);
  height: 54px;
  min-width: 54px;
  border-radius: 50%;
  background: linear-gradient(#61dbfb, #1d92af);
  z-index: 10;
  
  .ChangeAvatarIcon {
    max-width: 25px;
    max-height: 25px;
  }
  &:hover {
    background: linear-gradient(#55c2dd, #197b94);
    cursor: pointer;
  }
}