@import "../variables";

.LogInContainer {
  background-color: $main-background-color;
}

.LogInForm {
  background-color: transparent;
  border-radius: 20px;

  .LogInSubheader {
    color: #8c8c8c;
  }

  .LogInControl,
  .LogInPasswordControl {
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $main-lightblue;

    &:focus {
      box-shadow: none;
    }
  }
}

.SignUpLink {
  margin-left: 8px;
}

.ReactLogo {
  animation: rotate 15s infinite linear;
}

@media (max-width: 576px) {
  .SignUpLink {
    margin-left: 0px;
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
