@import "../variables";

.LogInContainer {
  background-color: $main-background-color;
}

.LogInForm {
  background-color: $secondary-background-color;

  .LogInSubheader {
    color: #8c8c8c;
  }

  .LogInControl, .LogInPasswordControl {
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 0;  
    border-bottom: 1px solid $main-lightblue;

    &:focus {
      box-shadow: none;
    }
  }
}
