@import "../variables";

.Navbar {
  min-height: 56px;
  background-color: $dark-mode-background-color;
  padding: 7px 16px;
  border-left: 1px solid #242a2f;

  .UserAvatar {
    width: 42px;
    height: 42px;
  }

  .SavedMessagesImgContainer {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: linear-gradient( #61dbfb, #1d92af);
    .UserAvatar {
      max-width: 32px;
      max-height: 32px;
    }
  }
}

.NavbarUsername {
  font-weight: 700;
  padding-left: 18px;
}
