@import "../variables";

.Navbar {
  min-height: 56px;
  background-color: $secondary-background-color;
  padding: 8px 16px;
  border-left: 1px solid #242a2f;
}

.NavbarUsername {
  font-weight: 700;
}

.NavbarUsername, .NavbarUserLastSeen {
  font-size: 14px;
  line-height: 20px;
}
