@import "../variables";

.Navbar {
  background-color: $secondary-background-color;
  padding: 8px 16px;
  border-left: 1px solid #242a2f;
}

.NavbarUsername, .NavbarUserLastAppearance {
  font-size: 14px;
  line-height: 20px;
}
