.Home {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.ChatContainer {
  height: 100%;
  width: 100%;
  max-height: 100vh;
  position: relative;
  touch-action: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Sidebar {
  width: 30%;
  height: 100%;
  min-width: 260px;
  max-width: 420px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #212121;
  touch-action: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.SidebarSettings {
  height: 100%;
  max-width: 420px;
  width: 100%;
  position: absolute;
  overflow-x: hidden;
  transition: right 0.3s ease-in-out;
  background-color: #212121;
  z-index: 2;
}
.SidebarSettings.closed {
  right: -100%;
}
.SidebarSettings.opened {
  right: 0;
}
.SidebarSettings .SidebarSettingsHeader {
  height: 56px;
  padding: 0px 16px;
}
.SidebarSettings .SidebarSettingsHeader .SidebarSettingsHeaderButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.SidebarSettings .SidebarSettingsHeader .SidebarSettingsHeaderButton:hover {
  background-color: #2b2b2b;
}
.SidebarSettings .SidebarSettingsHeader .SidebarSettingsHeaderButton img {
  width: 24px;
}
.SidebarSettings .SidebarSettingsHeader .SettingsText {
  padding-left: 24px;
  font-size: 20px;
  font-weight: 500;
}
.SidebarSettings .ImagePicker {
  display: none;
}

.UserAvatarContainer {
  cursor: pointer;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.UserAvatarContainer .UserAvatar {
  min-width: 100%;
  height: 240px;
  border-radius: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.SidebarSettingsUserInfo {
  max-height: 240px;
  position: relative;
}

.SidebarSettingsDisplayName {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 20px;
  font-weight: 500;
}

.LogoutButton {
  padding: 10px 16px;
  border-radius: 0;
  border: none;
  background-color: transparent;
  transition: none;
}
.LogoutButton p {
  color: #cd6667;
}
.LogoutButton:hover {
  background-color: #313b43;
}

.UploadImageButton {
  padding: 10px 16px;
  border-radius: 0;
  border: none;
  transition: none;
}
.UploadImageButton p {
  color: #fff;
}

.LogoutIcon,
.UploadIcon {
  width: 20px;
  margin-right: 12px;
}

.SidebarHeader {
  height: 56px;
  padding: 7px 16px;
}

.Settings {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}
.Settings:hover {
  background-color: #2b2b2b;
}
.Settings span {
  display: block;
  width: 17px;
  height: 2px;
  background-color: #a5a8aa;
}
.Settings span:nth-child(1) {
  margin-bottom: 3px;
}
.Settings span:nth-child(3) {
  margin-top: 3px;
}

.Chat {
  flex: 1 0 0;
  position: relative;
}
.Chat::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../assets/chat-background.jpg");
  background-size: cover;
  z-index: -1;
  filter: brightness(40%);
}/*# sourceMappingURL=Home.css.map */