@import "../variables";

.Home {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.ChatContainer {
  height: 100%;
  width: 100%;
  max-height: 100vh;
  position: relative;
  touch-action: none;
  user-select: none;
}

.Sidebar {
  width: 30%;
  height: 100%;
  min-width: 260px;
  position: relative;
  overflow: auto;
  background-color: $dark-mode-background-color;
  touch-action: none;
  user-select: none;
}

.SidebarSettings {
  height: 100%;
  position: absolute;
  overflow-x: hidden;
  transition: all 0.2s ease-in-out;
  background-color: $dark-mode-background-color;
  z-index: 2;
  &.closed {
    width: 0;
  }
  &.opened {
    width: 100%;
  }

  .ImagePicker {
    display: none;
  }

  .UserAvatarContainer {
    max-width: 45px;
    height: 45px;
    cursor: pointer;

    .UserAvatar {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}

.LogoutButton {
  padding: 10px 16px;
  border-radius: 0;
  border: none;
  background-color: transparent;
  transition: none;
  p {
    color: #cd6667;
  }
  &:hover {
    background-color: #313b43;
  }
}

.UploadImageButton {
  padding: 10px 16px;
  border-radius: 0;
  border: none;
  transition: none;
  p {
    color: #fff;
  }
}

.LogoutIcon,
.UploadIcon {
  width: 20px;
  margin-right: 12px;
}

.SidebarHeader {
  padding: 12px 16px 12px 0px;
}

.SidebarSearchControl {
  width: 100%;
  height: 32px;
  background-color: #181818;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 300;

  &::placeholder {
    font-weight: 400;
    color: #7e7e7e;
    transition: color 0.2s ease-in-out;
  }

  &:focus {
    background-color: #3d444b;
    box-shadow: none;
    caret-color: #999694;
    color: #fff;
    font-weight: 300;
    &::placeholder {
      color: #5f5f5f;
      font-weight: 400;
    }
  }
}

.Settings {
  width: 100%;
  max-width: 50px;
  cursor: pointer;
  &:hover {
    span {
      background-color: #a5a8aa;
    }
  }
  span {
    display: block;
    width: 17px;
    height: 2px;
    background-color: #757676;
    &:nth-child(1) {
      margin-bottom: 3px;
    }
    &:nth-child(3) {
      margin-top: 3px;
    }
  }
}

.Chat {
  flex: 1 0 0;
  background-color: #000;
  position: relative;
}

.Overlay {
  position: absolute;
  bottom: 0;
  height: calc(100% - 25px);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
