@import "../variables";

.Home {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.ChatContainer {
  height: 100%;
  width: 100%;
  max-height: 100vh;
  position: relative;
  touch-action: none;
  user-select: none;
}

.Sidebar {
  width: 30%;
  height: 100%;
  min-width: 260px;
  max-width: 420px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $dark-mode-background-color;
  touch-action: none;
  user-select: none;
}

.SidebarSettings {
  height: 100%;
  max-width: 420px;
  width: 100%;
  position: absolute;
  overflow-x: hidden;
  transition: right 0.3s ease-in-out;
  background-color: $dark-mode-background-color;
  z-index: 2;
  &.closed {
    right: -100%;
  }
  &.opened {
    right: 0;
  }

  .SidebarSettingsHeader {
    height: 56px;
    padding: 0px 16px;
    position: relative;
    .SidebarSettingsHeaderButton {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding: 8px;
      cursor: pointer;
      background-color: transparent;
      border: none;
      &:hover {
        background-color: #2b2b2b;
      }
      img {
        width: 24px;
      }
    }
    .SettingsText {
      padding-left: 24px;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .ImagePicker {
    display: none;
  }
}

.UserAvatarContainer {
  cursor: pointer;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .UserAvatar {
    min-width: 100%;
    height: 240px;
    border-radius: 0;
    object-fit: cover;
  }
}

.SidebarSettingsUserInfo {
  max-height: 240px;
  position: relative;
}

.SidebarSettingsDisplayName {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 20px;
  font-weight: 500;
}

.LogoutButtonContainer {
  padding: 5px 0px;
  position: absolute;
  z-index: 1;

  &.closed {
    visibility: hidden;
  }
  &.opened {
    width: 40%;
    top: 100%;
    right: 20px;
    visibility: visible;
    background-color: #4a494a;
    border-radius: 10px;
  }
}

.LogoutButton {
  width: 100%;
  padding: 4px 12px;
  margin: 0px 5px;
  border: none;
  border-radius: 0.3125rem;
  background-color: transparent;
  transition: none;
  p {
    color: #cd6667;
  }
  &:hover {
    background-color: #575757;
  }
}

.UploadImageButton {
  padding: 10px 16px;
  border-radius: 0;
  border: none;
  transition: none;
  p {
    color: #fff;
  }
}

.LogoutIcon,
.UploadIcon {
  width: 20px;
  margin-right: 12px;
}

.SidebarHeader {
  height: 56px;
  padding: 7px 16px;
}

.Settings {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  &:hover {
    background-color: #2b2b2b;
  }
  span {
    display: block;
    width: 17px;
    height: 2px;
    background-color: #a5a8aa;
    &:nth-child(1) {
      margin-bottom: 3px;
    }
    &:nth-child(3) {
      margin-top: 3px;
    }
  }
}

.Chat {
  flex: 1 0 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../assets/chat-background.jpg");
    background-size: cover;
    z-index: -1;
    filter: brightness(40%);
  }
}
