@import "../variables";
@import "../mixins";

.Home {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  & * {
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
      border-color 0.2s ease-in-out, filter 0.2s ease-in-out;
  }
  &.light {
    .Sidebar,
    .SidebarSettings,
    .SidebarMenu,
    .InputButtonsContainer,
    .MessageContainer,
    .ImageContainer.WithCaption {
      background-color: $light-mode-background-color;
    }
    .InputButtonsContainer,
    .MessageContainer,
    .ImageContainer.WithCaption {
      &::before {
        color: $light-mode-background-color;
      }
    }
    .SidebarChatLastMsg,
    .SidebarChatTime {
      color: $light-mode-text-color;
    }
    .MessageContainer {
      .MessageTime {
        color: $light-mode-text-color;
      }
    }
    .ImageContainer {
      &.WithCaption {
        .MessageTime {
          color: $light-mode-text-color;
        }
      }
    }
    .SidebarChatUsername,
    .SidebarMenuOptionText,
    .NavbarUsername,
    .Message,
    .SettingsText {
      color: #000;
    }
    .SidebarChat {
      &:hover {
        background-color: #f0f0f0;
      }
      &.selected {
        background-color: #3390ec;
        .SidebarChatLastMsg,
        .SidebarChatTime,
        .SidebarChatUsername {
          color: $light-mode-background-color;
        }
      }
    }
    .SearchInput,
    .Navbar {
      background-color: $light-mode-background-color;
      border-color: rgb(223, 225, 229);
    }
    .SidebarMenuOption,
    .AttachButton,
    .SidebarMenuButton,
    .SidebarSettingsHeaderButton {
      &:hover {
        background-color: #f0f0f0;
      }
    }
    .SidebarMenuOptionIcon {
      filter: brightness(0) saturate(100%);
    }
    .DarkModeSwitchToggle {
      background-color: rgb(196, 201, 204);
      &::before {
        border: 2px solid rgb(196, 201, 204);
        background-color: $light-mode-background-color;
      }
    }
    .Input,
    .SearchInput {
      color: #000;
      &:focus {
        caret-color: #000;
      }
    }
    .SearchInput {
      &:hover {
        border-color: #c2c2c2;
      }
      &:focus {
        border: 2px solid #3390ec;
      }
    }
  }
  &.dark {
    .Sidebar,
    .SidebarSettings,
    .Input,
    .MessageContainer {
      background-color: $dark-mode-background-color;
    }
    .InputButtonsContainer,
    .MessageContainer {
      &::before {
        color: $dark-mode-background-color;
      }
    }
    .SidebarChat {
      &:hover {
        background-color: #353c43;
      }

      &.selected {
        background-color: #3e9eb6;
        .SidebarChatUsername,
        .SidebarChatTime,
        .SidebarChatLastMsg {
          color: $dark-mode-background-color;
        }
      }
    }
    .SidebarMenuOption {
      &:hover {
        background-color: #353c43;
      }
    }
    .DarkModeSwitchToggle {
      background-color: $main-lightblue;
      &::before {
        border: 2px solid $main-lightblue;
        background-color: rgb(33, 33, 33);
      }
    }
    .AttachButton,
    .SidebarMenuButton,
    .SidebarSettingsHeaderButton {
      &:hover {
        background-color: #2b2b2b;
      }
    }
    .Input,
    .SearchInput {
      color: #fff;
    }
    .SearchInput {
      &:hover {
        border-color: #707579;
      }
      &:focus {
        border: 2px solid $main-lightblue;
      }
    }
  }
}

.ChatContainer {
  height: 100%;
  width: 100%;
  max-height: 100vh;
  position: relative;
  touch-action: none;
}

.Sidebar {
  height: 100%;
  min-width: 424px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  touch-action: none;
  user-select: none;
}

.SidebarMenu {
  transition: visibility 0.2s linear, background-color 0.2s ease-in-out;
  padding: 5px 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  &.closed {
    @include sidebar-menu(hidden);
  }
  &.opened {
    @include sidebar-menu(visible);
  }
  & > * {
    cursor: pointer;
  }
}

.SidebarMenuOption {
  padding: 4px 6px 4px 12px;
  margin: 0px 5px;
  border-radius: 0.3125rem;
  img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
}

.SidebarMenuOptionText {
  font-weight: 500;
  font-size: 14px;
}

.SidebarSettings {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-x: hidden;
  transition: right 0.3s ease-in-out;
  z-index: 2;
  &.closed {
    right: -100%;
  }
  &.opened {
    right: 0;
  }

  .SidebarSettingsHeader {
    height: 56px;
    padding: 0px 16px;
    position: relative;
    .SidebarSettingsHeaderButton {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      padding: 8px;
      cursor: pointer;
      background-color: transparent;
      border: none;
      transition: none !important;
      img {
        width: 24px;
      }
    }
    .SettingsText {
      padding-left: 24px;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .LogoutButtonContainer {
    padding: 5px 0px;
    position: absolute;
    z-index: 1;
    transition: visibility 0.2s linear;

    &.closed {
      @include logout-button(hidden);
    }
    &.opened {
      @include logout-button(visible);
    }
  }
}

.Chat {
  flex: 1 0 0;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../assets/chat-background.jpg");
    background-size: cover;
    z-index: -1;
    filter: brightness(40%);
  }
}
