.Home {
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}
.Home * {
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
.Home.light .Sidebar,
.Home.light .SidebarSettings,
.Home.light .SidebarMenu,
.Home.light .InputButtonsContainer,
.Home.light .MessageContainer,
.Home.light .ImageContainer.WithCaption {
  background-color: #fff;
}
.Home.light .InputButtonsContainer::before,
.Home.light .MessageContainer::before,
.Home.light .ImageContainer.WithCaption::before {
  color: #fff;
}
.Home.light .SidebarChatLastMsg,
.Home.light .SidebarChatTime {
  color: rgb(112, 117, 121);
}
.Home.light .MessageContainer .MessageTime {
  color: rgb(112, 117, 121);
}
.Home.light .ImageContainer.WithCaption .MessageTime {
  color: rgb(112, 117, 121);
}
.Home.light .SidebarChatUsername,
.Home.light .SidebarMenuOptionText,
.Home.light .NavbarUsername,
.Home.light .Message,
.Home.light .SettingsText {
  color: #000;
}
.Home.light .SidebarChat:hover {
  background-color: #f0f0f0;
}
.Home.light .SidebarChat.selected {
  background-color: #3390ec;
}
.Home.light .SidebarChat.selected .SidebarChatLastMsg,
.Home.light .SidebarChat.selected .SidebarChatTime,
.Home.light .SidebarChat.selected .SidebarChatUsername {
  color: #fff;
}
.Home.light .SearchInput,
.Home.light .Navbar {
  background-color: #fff;
  border-color: rgb(223, 225, 229);
}
.Home.light .SidebarMenuOption:hover,
.Home.light .AttachButton:hover,
.Home.light .SidebarMenuButton:hover,
.Home.light .SidebarSettingsHeaderButton:hover {
  background-color: #f0f0f0;
}
.Home.light .SidebarMenuOptionIcon {
  filter: brightness(0) saturate(100%);
}
.Home.light .DarkModeSwitchToggle {
  background-color: rgb(196, 201, 204);
}
.Home.light .DarkModeSwitchToggle::before {
  border: 2px solid rgb(196, 201, 204);
  background-color: #fff;
}
.Home.light .Input,
.Home.light .SearchInput {
  color: #000;
}
.Home.light .Input:focus,
.Home.light .SearchInput:focus {
  caret-color: #000;
}
.Home.light .SearchInput:hover {
  border-color: #c2c2c2;
}
.Home.light .SearchInput:focus {
  border: 2px solid #3390ec;
}
.Home.dark .Sidebar,
.Home.dark .SidebarSettings,
.Home.dark .Input,
.Home.dark .MessageContainer {
  background-color: #212121;
}
.Home.dark .InputButtonsContainer::before,
.Home.dark .MessageContainer::before {
  color: #212121;
}
.Home.dark .SidebarChat:hover {
  background-color: #353c43;
}
.Home.dark .SidebarChat.selected {
  background-color: #3e9eb6;
}
.Home.dark .SidebarChat.selected .SidebarChatUsername,
.Home.dark .SidebarChat.selected .SidebarChatTime,
.Home.dark .SidebarChat.selected .SidebarChatLastMsg {
  color: #212121;
}
.Home.dark .SidebarMenuOption:hover {
  background-color: #353c43;
}
.Home.dark .DarkModeSwitchToggle {
  background-color: #61dbfb;
}
.Home.dark .DarkModeSwitchToggle::before {
  border: 2px solid #61dbfb;
  background-color: rgb(33, 33, 33);
}
.Home.dark .AttachButton:hover,
.Home.dark .SidebarMenuButton:hover,
.Home.dark .SidebarSettingsHeaderButton:hover {
  background-color: #2b2b2b;
}
.Home.dark .Input,
.Home.dark .SearchInput {
  color: #fff;
}
.Home.dark .SearchInput:hover {
  border-color: #707579;
}
.Home.dark .SearchInput:focus {
  border: 2px solid #61dbfb;
}

.ChatContainer {
  height: 100%;
  width: 100%;
  max-height: 100vh;
  position: relative;
  touch-action: none;
}

.Sidebar {
  height: 100%;
  min-width: 424px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  touch-action: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.SidebarMenu {
  transition: visibility 0.2s linear, background-color 0.2s ease-in-out;
  padding: 5px 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.SidebarMenu.closed {
  visibility: hidden;
  min-width: 260px;
  position: fixed;
  top: 54px;
  left: 16px;
  background-color: #2f2f2f;
  transform-origin: 0% 0%;
}
.SidebarMenu.opened {
  visibility: visible;
  min-width: 260px;
  position: fixed;
  top: 54px;
  left: 16px;
  background-color: #2f2f2f;
  transform-origin: 0% 0%;
}
.SidebarMenu > * {
  cursor: pointer;
}

.SidebarMenuOption {
  padding: 4px 6px 4px 12px;
  margin: 0px 5px;
  border-radius: 0.3125rem;
}
.SidebarMenuOption img {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.SidebarMenuOptionText {
  font-weight: 500;
  font-size: 14px;
}

.SidebarSettings {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow-x: hidden;
  transition: right 0.3s ease-in-out;
  z-index: 2;
}
.SidebarSettings.closed {
  right: -100%;
}
.SidebarSettings.opened {
  right: 0;
}
.SidebarSettings .SidebarSettingsHeader {
  height: 56px;
  padding: 0px 16px;
  position: relative;
}
.SidebarSettings .SidebarSettingsHeader .SidebarSettingsHeaderButton {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: none !important;
}
.SidebarSettings .SidebarSettingsHeader .SidebarSettingsHeaderButton img {
  width: 24px;
}
.SidebarSettings .SidebarSettingsHeader .SettingsText {
  padding-left: 24px;
  font-size: 20px;
  font-weight: 500;
}
.SidebarSettings .LogoutButtonContainer {
  padding: 5px 0px;
  position: absolute;
  z-index: 1;
  transition: visibility 0.2s linear;
}
.SidebarSettings .LogoutButtonContainer.closed {
  width: 40%;
  top: 100%;
  right: 20px;
  background-color: #4a494a;
  border-radius: 10px;
  transform-origin: top right;
  visibility: hidden;
}
.SidebarSettings .LogoutButtonContainer.opened {
  width: 40%;
  top: 100%;
  right: 20px;
  visibility: visible;
  background-color: #4a494a;
  border-radius: 10px;
  transform-origin: top right;
}
.SidebarSettings .ImagePicker {
  display: none;
}

.Chat {
  flex: 1 0 0;
  position: relative;
}
.Chat::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../assets/chat-background.jpg");
  background-size: cover;
  z-index: -1;
  filter: brightness(40%);
}/*# sourceMappingURL=Home.css.map */