.ChatPage {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;

  .SendMessageForm {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #333333;

    .SendMessageInput {
      border: none;
      width: 100%;
      padding: 20px;
      background-color: transparent;
      &:focus {
        outline: none;
      }
    }

    .SendMessageButton {
      margin-right: 20px;
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}