.ChatPage {
  min-height: 100vh;
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  background-color: #282c34;

  .ChatBubble {
    &.right {
      margin: 2px 50px 2px auto;
    }
  }
}
