@import "../variables";

.SidebarChatList {
  overflow-y: auto;
  padding: 0px 8px 0px 8px;

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: #7d8084;
    }
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: transparent;
  }
}

.SidebarChat {
  padding: 10px;
  overflow-x: hidden;
  cursor: pointer;
  border-radius: 15px;

  &:hover {
    background-color: #353c43;
  }

  &.selected {
    background-color: #3e9eb6;
    .SidebarChatUsername,
    .SidebarChatTime,
    .SidebarChatLastMsg {
      color: $dark-mode-background-color;
    }
  }
}

.SidebarChatImgContainer {
  height: 54px;
  min-width: 54px;
  margin-right: 12px;
  border-radius: 50%;
}

.SidebarChatUsername {
  font-size: 16px;
  font-weight: bold;
}

.SidebarChatTime {
  font-size: 12px;
}

.SidebarChatLastImg {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  font-size: 16px;
}

.UserAvatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.SidebarMenu {
  transition: visibility 0.2s linear;
  padding: 5px 0px;
  border-radius: 10px;
  &.closed {
    visibility: hidden;
    min-width: 260px;
    position: absolute;
    left: 16px;
    background-color: #2f2f2f;
    transform-origin: 0% 0%;
  }
  &.opened {
    visibility: visible;
    min-width: 260px;
    position: absolute;
    left: 16px;
    background-color: #2f2f2f;
    transform-origin: 0% 0%;
  }
  & > * {
    cursor: pointer;
  }
}

.SidebarMenuOption {
  padding: 4px 6px 4px 12px;
  margin: 0px 5px;
  border-radius: 0.3125rem;
  img {
    width: 20px;
    height: 20px;
    margin-right: 20px;
  }
  &:hover {
    background-color: #353c43;
  }
}

@keyframes show-menu {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes hide-menu {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}
