@import "../variables";

.SignUpContainer {
  background-color: $main-background-color;
}

.SignUpForm {
  background-color: transparent;
  border-radius: 20px;

  .SignUpSubheader {
    color: #8c8c8c;
  }

  .SignUpDisplayNameControl,
  .SignUpEmailControl,
  .SignUpPasswordControl {
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $main-lightblue;

    &:focus {
      box-shadow: none;
    }
  }
}

.ErrorMsg {
  color: red;
}

.LogInLink {
  margin-left: 8px;
}

@media (max-width: 576px) {
  .LogInLink {
    margin-left: 0px;
  }
}