@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

html, body {
  height: 100vh;
}

#root, .App {
  height: 100%;
}

p {
  margin: 0;
}

p, label, h1 {
  color: #61dbfb;
  font-family: "Roboto";
}