.ChatBubble {
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
  max-width: 500px;
  background-color: #61dafb;
  margin: 10px 0px;
  padding: 10px;
  
  &.right {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .UserAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
}