.UserMessageContainer {
  display: flex;
  align-items: end;
  flex-direction: row-reverse;

  &.right {
    .ChatBubble {
      display: flex;
      overflow-wrap: anywhere;
      max-width: 500px;
      position: relative;
      background-color: #61dafb;
      padding: 10px 10px 5px;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      margin: 2px 15px 2px auto;

      &:before {
        content: "";
        position: absolute;
        bottom: 0px;
        right: -40px;
        height: 40px;
        width: 40px;
        border-bottom-left-radius: 30%;
        background: #18191d;
        box-shadow: -10px 0 0 0 #61dafb;
      }
    }
  }

  &.left {
    .ChatBubble {
      display: flex;
      overflow-wrap: anywhere;
      max-width: 500px;
      position: relative;
      background-color: #61dafb;
      padding: 10px 10px 5px;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 20px;
      margin: 2px auto 2px 0px;
    }
  }

  .UserAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0px 10px;

    &.current {
      display: none;
    }
  }

  .UserName {
    font-weight: 700;
  }

  .UserMessageDatetime {
    text-align: end;
    font-size: 16px;
  }
}

@media (min-width: 0px) and (max-width: 576px) {
  .UserMessageContainer {
    &.right,
    &.left {
      .ChatBubble {
        max-width: 70%;
      }
    }
  }
}
